<h1>Current Profiles List</h1>

<ul id="profile">
    <% @profile.each do |profile| %>
        <li data-id='<%= profile.id %>'>
          <%= profile.first_name %>
          <%= profile.last_name %>
        </li>
    <% end %>
</ul>  