// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sign_in{
	float:right;
	border: solid 1px;
	font-size: 10px;

}

#home_list  {
	border:  solid 1px;
	width:  300px;
}