// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert:empty {
   display: none;
}

.panel .table {
	margin:0;
}

.badge-right {

    float:right;

}

.no-margin{
	margin:0;
}

.no-padding{
	padding:0;
}

#sign_in {
    border: solid 1px;
    font-size: 10px;
}
#user_info {
    /*border: solid 1px;*/
    float: right;
    font-size: 12px;
    display  : inline;
}
#menu_bar li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    width: 80px;
}
#calendar { }
#project_list {
    width: 900px;
    background-color: rgba(0,0,0,0.05);
}
#profile_list { background-color: rgba(0,0,0,0.05) }
#project_list ul,
#profile_list ul { list-style: none }
.list-inline {
    padding: 2px;
    display: inline-block;
}
.list-inline li { display: inline }
#profile ul li {
    background-color: rgba(0,0,0,0.05);
    list-style: none;
    display: inline;
    padding: 200px;
}
footer {
    margin-top: 20px;
    padding: 20px;
    border-top: 1px solid #ccc;
    /*background-color: rgba(0,0,0,0.05);*/
}
footer p { text-align: center }

.fc-button-today {
	text-transform: capitalize;
}
