// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sign_in{
	
	border: solid 1px;
	font-size: 10px;

}

#user_info  {
	border:  solid 1px;
	float:  right;
	font-size:  12px;
}

#user_info ul.list-inline  {
	display:  inline;
}

#user_info ul.list-inline li {
    list-style:  none;
	color:  red;
	border:  solid 1px;

}



#home_list  {
	border:  solid 1px;
	width:  300px;
	
}
